@import './menu';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #eaeaea;
  color: #333333;
  font-family: 'Roboto', sans-serif;
} 

header {
  background: url('../images/bg.1.jpg');
  height: 50vh;
}